{% extends 'Web_Site/base.html' %}

{% block title %}
About me
{% endblock %}


{% block content %}
<center>
    <img src="https://d18jg6w55vcmy1.cloudfront.net/media/resume_images/767a5213d4cc4ffca523d0bac40c3492.png"
         class="center"
         width="150"
         height="150">
</center>
<h2 align="center">Lukashyk Maksim</h2>
<h4 align="center">Python-developer</h4>
<br>
<h6 align="center">Contact information:</h6>
<p align="center">Email: stik9935@gmail.com
    <br>
    Number phone: +375(29)865-94-84
    <br>
    <a href="https://www.linkedin.com/in/maksim-lukashyk/">Linkedin</a>
    <br>
    <a href="https://github.com/Maksim-Lukashyk-1996">Github</a>
</p>

<h3 align="left">About me:</h3>
<br>
<p>I'm a Python developer and I'm currently looking for new opportunities.</p>
<p>I prefer working in the office, as I believe that offline teamwork is the key to the success of a high-quality
    project creation.</p>
<p>My goals for the near future: in a year / two I would like to grow to a middle developer, in three / four years to a
    senior developer</p>
<p>Aims to develop and become a Team Lead.</p>
{% endblock %}

